html {
    scroll-behavior: smooth;}

a:link{
    color:white;
    text-decoration: none;text-decoration: none;}

a:visited {
    color:white;
    text-decoration: none;}

a:focus {
    text-decoration: none;}

a:hover {
    color:gold;
    text-decoration: none;}

a:active {
    color:gold;text-decoration: none;}

body {
    background: #F7A43E;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;}

nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 0 15px 0;
    border: 0;
    margin: 0;
    justify-content:space-between;
    left: 0%;
    box-shadow: 0 0 10px 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-size: 15px;
    z-index: 1;
/* I still see body background color above navbar - how to fix it? !!! EDIT - I changed body propeteries and now it's cool*/
/* why is it transparent? */
/*I'd love to see navar hiding when not hovered */}

.flex-container{
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex: 2 1;
}

.nav-item-1 {
    display: flex;
    justify-content:space-evenly;
    justify-items: left;
    align-items: center;}

.nav-item-2 {
    display: flex;
    justify-content: right;
    padding: 0 20px 0 0;
    justify-items: center;
    align-items: center;}

.nav-item-2 p{
    font-size: small;
    padding: 0 10px 0 10px;}

.page-site{
    align-items: start;
    font-size: 15px;
    position: relative;
    padding: 15px;
    text-align: justify;
    line-height: 1.5;
    height: 100vh;
    flex-basis: max-content;
    flex-grow: 3;}

.page-site h1 {
   color: #131D30;
    margin: 0 0 5px 0;}
    
.page-site h2 {
    color: #131D30;
    font-style: italic;
    font-size: 11px;
    margin: 0;}

.page-site p {
    flex-grow: 2;}
    
#main-photo { 
    width: 100vw;
    height: auto;
    padding: 40px 0 0 0;
    box-shadow: 10px;}

img {
    width:auto;
    height: 100vh;
    padding: 0;
    margin: 0;
    align-self: stretch;}

p {
    margin: 0;}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@278&display=swap');
